<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/goods/weui.min.css">
    <link rel="stylesheet" href="/css/goods/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/goods.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrapSwitch.css">
</head>
<body>
<header class="zyw-header">
    <div class="zyw-container white-color">
        <div class="head-l"><a href="javascript:window.history.back(-1)" target="_self"><img src="img/svg/head-return.svg" alt=""></a></div>
        <h1>全部商品</h1>
        <div class="head-r"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</header>
<section class="zyw-container">
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item&#45;&#45;on" href="#goods_all" onclick="getAll()">全部</a>
            <a class="weui-navbar__item" href="#goods_index" onclick="getIndexGoods()">首页展</a>
            <a class="weui-navbar__item" href="#goods_time" onclick="getTimeGoods()">限时展</a>
            <a class="weui-navbar__item" href="#goods_use" onclick="getUseGoods()">已上架</a>
            <a class="weui-navbar__item" href="#goods_nouse" onclick="getNoUseGoods()">未上架</a>
        </div>
        <div class="weui-tab__bd">
            <!-- 全部 -->
            <div id="goods_all" class="weui-tab__bd-item weui-tab__bd-item&#45;&#45;active"></div>
            <!-- 首页展 -->
            <div id="goods_index" class="weui-tab__bd-item"></div>
            <!-- 限时展 -->
            <div id="goods_time" class="weui-tab__bd-item"></div>
            <!-- 已上架 -->
            <div id="goods_use" class="weui-tab__bd-item"></div>
            <!-- 未上架 -->
            <div id="goods_nouse" class="weui-tab__bd-item"></div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/myself/goods.js"></script>
<script src="/js/myself/jquery-weui.min.js"></script>
</body>
</html>
