<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECShop首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/goods/weui.min.css">
    <link rel="stylesheet" href="/css/goods/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-color.css">
</head>
<body>
<header class="zyw-header">
    <div class="zyw-container white-color">
        <div class="head-l"><i class="head-l-svg" aria-hidden="true"></i></div>
        <div class="head-search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="输入您当前要搜索的商品" class="white-color">
        </div>
        <div class="head-r"><a href="/login" id="isLogin">未登录</a></div>
    </div>
</header>
<footer class="zyw-footer" id="zyx_foot">
    <div class="zyw-container white-bgcolor clearfix">
        <div class="weui-tabbar">
            <a href="/" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-1-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="/catagory" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-2.svg" alt="">
                </div>
                <p class="weui-tabbar__label">分类</p>
            </a>
            <a href="/find" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-3.svg" alt="">
                </div>
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="/cart" class="weui-tabbar__item">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-4.svg" alt="">
                </div>
                <p class="weui-tabbar__label">购物车</p>
            </a>
            <a href="" class="weui-tabbar__item" onclick="home()">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-5.svg" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</footer>
<section class="zyw-container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2Fz6XfgMPMeJjy1XbXXcwxVXa_!!2590951958.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2z.NKbaagSKJjy0FgXXcRqFXa_!!2590951958.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2ZxVCbjihSKJjy0FeXXbJtpXa_!!2590951958.jpg" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="index-class white-bgcolor">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <div class="index-class-img">
                        <img src="/img/yqyl.png" alt="">
                    </div>
                    <p class="index-class-text">邀请有礼</p>
                </a>
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <div class="index-class-img">
                        <img src="/img/cjfl.png" alt="">
                    </div>
                    <p class="index-class-text">商家信息站</p>
                </a>
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <div class="index-class-img">
                        <img src="/img/kbsc.png" alt="">
                    </div>
                    <p class="index-class-text">商业街</p>
                </a>
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <div class="index-class-img">
                        <img src="/img/sjtx.png" alt="">
                    </div>
                    <p class="index-class-text">商家详情</p>
                </a>
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <div class="index-class-img">
                        <img src="/img/sjpj.png" alt="">
                    </div>
                    <p class="index-class-text">免费开店</p>
                </a>
            </div>
        </div>
    </div>
    <div class="index-news">
        <div class="news-cont white-bgcolor">
            <strong>平台<em>号外</em>：</strong>
            <div class="infoBox">
                <ul class="swiper-wrapper" style="margin-left: 20px">
                    <li class="swiper-slide"><span><i>热</i>英速网平台开店免费了！</span></li>
                    <li class="swiper-slide"><span>邀请好友，惊喜无限！</span></li>
                    <li class="swiper-slide"><span>打造个人微店，实现业务飞涨！</span></li>
                </ul>
            </div>
            <a href="" class="news-more"></a>
        </div>
    </div>
    <div class="index-seckill white-bgcolor">
        <div class="seckill-hd">
            <span class="seckill-hd-title red-color"><i class="fa fa-clock-o" aria-hidden="true"></i> 限时抢购</span>
            <strong></strong>
            <div id="time"></div>
            <div class="seckill-hd-r">更多商品 <i class="fa fa-angle-right theme-color" aria-hidden="true"></i></div>
        </div>
        <div class="seckill-bd">
            <div class="seckill-wares">
                <div class="swiper-wrapper" id="goods_time"></div>
            </div>
        </div>
    </div>
    <div class="index-wares">
        <div class="seckill-hd">
            <div class="index-intro">
                <input type="hidden" id="bussId" name="bussId" th:value="${bussId}">
                <span class="seckill-hd-title red-color intro-font">店主带你逛</span>
            </div>
            <strong></strong>
        </div>
        <div class="wares-cont">
            <ul class="clearfix" id="index_goods"></ul>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/myself/jquery-weui.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>