<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/goods/weui.min.css" rel="stylesheet">
    <link href="/css/goods/jquery-weui.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/theme-color.css" rel="stylesheet">
</head>
<body style="background: #fff;">
<header class="zyw-header">
    <div class="zyw-container white-color">
        <div class="head-l"><a href="javascript:window.history.back(-1)" target="_self"><img src="/img/svg/head-return.svg" alt=""></a></div>
        <h1>我的信息</h1>
    </div>
</header>
<section class="zyw-container">
    <form id="bussForm" method="post">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">用户名</label></div>
            <div class="weui-cell__bd">
                <span>王二小</span>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">密码</label></div>
            <a href=""><span>修改密码</span></a>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">联系方式</label></div>
            <div class="weui-cell__bd">
                <span>13818572040</span>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">商家名称</label></div>
            <div class="weui-cell__bd">
                <span>英速百货</span>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">所属行业</label></div>
            <div class="weui-cell__bd">
                <div class="btn-group dropdown" id="dropdown">
                    <span>批发百货</span>
                </div>
            </div>
            <div class="col-sm-4 tips"></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label_1">所在地址</label></div>
            <div class="weui-cell__bd">
                <span>吉首市华商国际城</span>
            </div>
        </div>
        <div class="login-btn"><a href="javascript:;" class="weui-btn weui-btn_warn theme-bgcolor" onclick="registerBuss()">修改</a></div>
    </form>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myself/buss.js"></script>
</body>
</html>