<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingsu.newbuss.mapper.TCatagoryMapper">
  <resultMap id="BaseResultMap" type="com.yingsu.newbuss.entity.TCatagory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="catagory_name" jdbcType="VARCHAR" property="catagoryName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, catagory_name, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_catagory
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findCatagoryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catagory
  </select>

  <insert id="insert" parameterType="com.yingsu.newbuss.entity.TCatagory">
    insert into t_catagory (id, catagory_name, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{catagoryName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yingsu.newbuss.entity.TCatagory">
    insert into t_catagory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="catagoryName != null">
        catagory_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catagoryName != null">
        #{catagoryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yingsu.newbuss.entity.TCatagory">
    update t_catagory
    <set>
      <if test="vocationName != null">
        catagory_name = #{catagoryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yingsu.newbuss.entity.TCatagory">
    update t_catagory
    set catagory_name = #{catagoryName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>